@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  font-family: 'Inter', sans-serif; /* Default font, will be overridden by Mincho in Climax */
}

#root {
  width: 100%;
  height: 100%;
}
